@page "/"

<PageTitle>Clayveda APK Download</PageTitle>
<h1> Download Vignaan's  Clayveda HR APP from the link below </h1>

<a href="https://gyanu-my.sharepoint.com/:u:/g/personal/vignaanchintapalli_gyanu_onmicrosoft_com/Ebt-vLB8Ey1Dm8yvfJINahMBQEVlQMJ20oMuN9Qqlm122Q?e=OdxPLi" download> Click to download version 0.2 apk for Android </a>
<br />
<a href="https://gyanu-my.sharepoint.com/:u:/g/personal/vignaanchintapalli_gyanu_onmicrosoft_com/EReLhTOs7_FFqWib7jv8bOgBTPATSDMkQOcSX5YxAfBT2g?e=8dganf" download> Click to download version 0.2 app for Windows </a>


