@page "/latitudes"
@inject IJSRuntime JSRuntime
<h1>latitudes</h1>


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <article class="content px-4" b-45rkf8v3vv="">
        <!--!--><!--!--><!--!--><!--!-->
        <!--!--><h1 tabindex="-1">Laxmi's Demo questions</h1>

        <br><h1 class="2" id="2">
            This divides earth into 2 equal parts
        </h1><p><button id="2" class="2" name="noans" style="background-color:lightgrey" _bl_9c0ccbd0-2c39-4f0c-8f59-3e5f0552079e=""><!--!-->&nbsp; 	Eraser		</button><!--!-->&nbsp; &nbsp; </p><p><button class="2" id="2" name="ans" style="background-color:lightgrey" _bl_91016d0f-4ef3-4794-bebf-028769a62d1d=""><!--!-->&nbsp;  Equator		</button><!--!-->&nbsp; &nbsp; </p><p><button id="2" class="2" name="noans" style="background-color:lightgrey" _bl_760f7ef9-cd8e-4092-854b-a6325161d5aa=""><!--!-->&nbsp;  Grid		</button><!--!-->&nbsp; &nbsp; </p><p><button id="2" class="2" name="noans" style="background-color:lightgrey" _bl_210b66ee-8214-4a89-8130-77505346d527=""><!--!-->&nbsp;  globe				</button><!--!-->&nbsp; &nbsp; </p><h1 class="3" id="3">
            The Latin word ‘Latitudo’ means
        </h1><p><button class="3" id="3" name="ans" style="background-color:lightgrey" _bl_7a3e8d60-4395-497e-b540-97dc8ed8b0ae=""><!--!-->&nbsp; 	Width		</button><!--!-->&nbsp; &nbsp; </p><p><button id="3" class="3" name="noans" style="background-color:lightgrey" _bl_d28f5c4e-875c-428f-a15f-bd57cf39136f=""><!--!-->&nbsp;  length	</button><!--!-->&nbsp; &nbsp; </p><p><button id="3" class="3" name="noans" style="background-color:lightgrey" _bl_ed411b00-0374-46e2-830e-93aff33c627f=""><!--!-->&nbsp;  circumference	</button><!--!-->&nbsp; &nbsp; </p><p><button id="3" class="3" name="noans" style="background-color:lightgrey" _bl_152c902e-b405-44ca-a31a-8c219fd49f87=""><!--!-->&nbsp;  height				</button><!--!-->&nbsp; &nbsp; </p><h1 class="4" id="4">
            The imaginary line drawn horizontally on the globe are called
        </h1><p><button id="4" class="4" name="noans" style="background-color:lightgrey" _bl_e279ef65-9648-4a4b-aa55-632a10b6b05e=""><!--!-->&nbsp;  Equator	</button><!--!-->&nbsp; &nbsp; </p><p><button id="4" class="4" name="noans" style="background-color:lightgrey" _bl_f12d70e7-28e2-4ebd-bd78-9c72cc1ae6a4=""><!--!-->&nbsp;  Latitude 	</button><!--!-->&nbsp; &nbsp; </p><p><button class="4" id="4" name="ans" style="background-color:lightgrey" _bl_fb5ab8a6-9bae-4d1a-be58-b0a7077b873b=""><!--!-->&nbsp;  Meridian					</button><!--!-->&nbsp; &nbsp; </p><h1 class="5" id="5">
            The latitude of the North Pole is
        </h1><p><button id="5" class="5" name="noans" style="background-color:lightgrey" _bl_8b8abe4a-41a0-4ff2-8b54-68671bf44e6e=""><!--!-->&nbsp;  0°N		</button><!--!-->&nbsp; &nbsp; </p><p><button class="5" id="5" name="ans" style="background-color:lightgrey" _bl_a66e91e9-f1f3-4679-8f8b-973b55b3718b=""><!--!-->&nbsp;  90 ° N 	</button><!--!-->&nbsp; &nbsp; </p><p><button id="5" class="5" name="noans" style="background-color:lightgrey" _bl_b3bca873-0c40-4251-979b-762fcca532d2=""><!--!-->&nbsp;   90 °S		</button><!--!-->&nbsp; &nbsp; </p><p><button id="5" class="5" name="noans" style="background-color:lightgrey" _bl_deaf1cdd-90ee-4142-a51b-a91d8baa0e3d=""><!--!-->&nbsp;  66 ½  °N				</button><!--!-->&nbsp; &nbsp; </p><h1 class="6" id="6">
            The latitude of the Arctic Circle is
        </h1><p><button id="6" class="6" name="noans" style="background-color:lightgrey" _bl_d78bc489-bb1d-452e-b3ed-793f0d9c145f=""><!--!-->&nbsp;  00		</button><!--!-->&nbsp; &nbsp; </p><p><button id="6" class="6" name="noans" style="background-color:lightgrey" _bl_d279a13b-67b7-4d2f-80cc-9b5b47f43a84=""><!--!-->&nbsp;  90°S		</button><!--!-->&nbsp; &nbsp; </p><p><button id="6" class="6" name="noans" style="background-color:lightgrey" _bl_b9e1021d-ec23-4915-87d4-f3119ea886ca=""><!--!-->&nbsp;  66 ½ °S 	</button><!--!-->&nbsp; &nbsp; </p><p><button class="6" id="6" name="ans" style="background-color:lightgrey" _bl_caa7a9b0-f9bb-4b35-84ed-6c22d8f36669=""><!--!-->&nbsp;  66 ½ °N					</button><!--!-->&nbsp; &nbsp; </p><h1 class="7" id="7">
            The latitude of the Antarctic Circle is 
        </h1><p><button id="7" class="7" name="noans" style="background-color:lightgrey" _bl_49b966b1-ac95-420a-91e6-e3e9fdfd4783=""><!--!-->&nbsp;  0° 		</button><!--!-->&nbsp; &nbsp; </p><p><button id="7" class="7" name="noans" style="background-color:lightgrey" _bl_41acb114-a0f6-4273-81cf-dcfdbfcc6845=""><!--!-->&nbsp;  90 °S			</button><!--!-->&nbsp; &nbsp; </p><p><button id="7" class="7" name="noans" style="background-color:lightgrey" _bl_8d7c12c4-303a-4f5b-94af-7da364268386=""><!--!-->&nbsp;  66 ½ °N		</button><!--!-->&nbsp; &nbsp; </p><p><button class="7" id="7" name="ans" style="background-color:lightgrey" _bl_3bb3b5a6-4a44-41fe-a0fe-540666b43e45=""><!--!-->&nbsp;  66 ½ °S		</button><!--!-->&nbsp; &nbsp; </p><h1 class="8" id="8">
            The latitude of the South Pole is
        </h1><p><button id="8" class="8" name="noans" style="background-color:lightgrey" _bl_bfcd923b-9f5d-43e2-acc4-01258091de07=""><!--!-->&nbsp;  66 ½ ° N		</button><!--!-->&nbsp; &nbsp; </p><p><button id="8" class="8" name="noans" style="background-color:lightgrey" _bl_99d10edf-34dd-4342-8adf-61821e6bb524=""><!--!-->&nbsp;  90 ° N			</button><!--!-->&nbsp; &nbsp; </p><p><button class="8" id="8" name="ans" style="background-color:lightgrey" _bl_708d7775-e7a3-4b19-8074-dbdad1e379bd=""><!--!-->&nbsp;  90 °S	</button><!--!-->&nbsp; &nbsp; </p><p><button id="8" class="8" name="noans" style="background-color:lightgrey" _bl_e96ce7d2-1d92-44ff-9535-e7bdd6d3f5c2=""><!--!-->&nbsp;  66 ½  °S			</button><!--!-->&nbsp; &nbsp; </p><h1 class="9" id="9">
            There is no ………….less than 00  nor greater than 900
        </h1><p><button class="9" id="9" name="ans" style="background-color:lightgrey" _bl_e660a839-f85f-41d8-9d80-a61e304b371d=""><!--!-->&nbsp; 	Latitude 	</button><!--!-->&nbsp; &nbsp; </p><p><button id="9" class="9" name="noans" style="background-color:lightgrey" _bl_4a2f4d45-1f83-47a5-bdf0-293d9715cefc=""><!--!-->&nbsp;  Longitudes		</button><!--!-->&nbsp; &nbsp; </p><p><button id="9" class="9" name="noans" style="background-color:lightgrey" _bl_a18cd0a9-3793-48ac-b912-d4f3ab39cf06=""><!--!-->&nbsp;  Height 	</button><!--!-->&nbsp; &nbsp; </p><p><button id="9" class="9" name="noans" style="background-color:lightgrey" _bl_8a07046e-4fbb-4b28-8e0d-0e368a5a2b77=""><!--!-->&nbsp;  width				</button><!--!-->&nbsp; &nbsp; </p><h1 class="10" id="10">
            Latitudes are expresses in …….
        </h1><p><button id="10" class="10" name="noans" style="background-color:lightgrey" _bl_85e0fe57-e17b-41dd-965e-f6d16b8478df=""><!--!-->&nbsp; 	degrees	</button><!--!-->&nbsp; &nbsp; </p><p><button id="10" class="10" name="noans" style="background-color:lightgrey" _bl_2a8c7fbb-916a-430e-a8d9-c927f28bb3ce=""><!--!-->&nbsp;  minutes		</button><!--!-->&nbsp; &nbsp; </p><p><button id="10" class="10" name="noans" style="background-color:lightgrey" _bl_f1a150da-c315-470b-a4b6-b206a43e70b6=""><!--!-->&nbsp;  seconds		</button><!--!-->&nbsp; &nbsp; </p><p><button class="10" id="10" name="ans" style="background-color:lightgrey" _bl_dbb57428-633c-4a90-898f-2400507fcb17=""><!--!-->&nbsp;  All the above		</button><!--!-->&nbsp; &nbsp; </p><h1 class="11" id="11">
            The minutes and seconds will not find in many…………….
        </h1><p><button id="11" class="11" name="noans" style="background-color:lightgrey" _bl_dc94a6ef-4402-45dd-9991-8038ed0f8c56=""><!--!-->&nbsp; 	Books 		</button><!--!-->&nbsp; &nbsp; </p><p><button id="11" class="11" name="noans" style="background-color:lightgrey" _bl_241a28e3-3c7a-45b0-b44e-589e8802018c=""><!--!-->&nbsp;  Dictionaries		</button><!--!-->&nbsp; &nbsp; </p><p><button class="11" id="11" name="ans" style="background-color:lightgrey" _bl_117e538f-a294-4670-9324-485d3fc6c7a6=""><!--!-->&nbsp;  Atlases		</button><!--!-->&nbsp; &nbsp; </p><p><button id="11" class="11" name="noans" style="background-color:lightgrey" _bl_8fb9e35a-90b7-4517-bf2d-9e0b9fd97d21=""><!--!-->&nbsp;  none			</button><!--!-->&nbsp; &nbsp; </p><h1 class="12" id="12">
            This does not have no north or south designation
        </h1><p><button class="12" id="12" name="ans" style="background-color:lightgrey" _bl_d8c50b3f-9f7c-4d92-96b7-a9118468abef=""><!--!-->&nbsp; 	Equator	</button><!--!-->&nbsp; &nbsp; </p><p><button id="12" class="12" name="noans" style="background-color:lightgrey" _bl_635d4889-ae6d-49d0-a97b-79db0eadcbde=""><!--!-->&nbsp;  Poles	</button><!--!-->&nbsp; &nbsp; </p><p><button id="12" class="12" name="noans" style="background-color:lightgrey" _bl_ae21cf3e-5289-489a-b99f-1478bdce9c33=""><!--!-->&nbsp;  Circles	</button><!--!-->&nbsp; &nbsp; </p><p><button id="12" class="12" name="noans" style="background-color:lightgrey" _bl_d024946d-1522-4b35-9042-826eff9957de=""><!--!-->&nbsp;  All of them					</button><!--!-->&nbsp; &nbsp; </p><h1 class="13" id="13">
            Except equator other latitudes become smaller towards ………
        </h1><p><button id="13" class="13" name="noans" style="background-color:lightgrey" _bl_6c4bde05-c58b-4bea-bb66-fef86a6a8f81=""><!--!-->&nbsp;  Poles		</button><!--!-->&nbsp; &nbsp; </p><p><button class="13" id="13" name="ans" style="background-color:lightgrey" _bl_c15e3d87-e2ad-45b9-9c48-e28b5221f0cf=""><!--!-->&nbsp;  points 		</button><!--!-->&nbsp; &nbsp; </p><p><button id="13" class="13" name="noans" style="background-color:lightgrey" _bl_dcd40e97-8f14-44bd-a710-377684c74238=""><!--!-->&nbsp;  none		</button><!--!-->&nbsp; &nbsp; </p><h1 class="14" id="14">
            The half of the earth that is between the equator and south pole is called………… Hemisphere
        </h1><p><button class="14" id="14" name="ans" style="background-color:lightgrey" _bl_de218e93-15cb-4ab2-a578-1090e153e3e2=""><!--!-->&nbsp; 	Southern		</button><!--!-->&nbsp; &nbsp; </p><p><button id="14" class="14" name="noans" style="background-color:lightgrey" _bl_e160f5e4-efb3-49b0-aee8-16394ec3a423=""><!--!-->&nbsp;  Northern  		   </button><!--!-->&nbsp; &nbsp; </p><p><button id="14" class="14" name="noans" style="background-color:lightgrey" _bl_d852a5ad-244f-42a2-a785-c31db3ab792f=""><!--!-->&nbsp;   Eastern		</button><!--!-->&nbsp; &nbsp; </p><p><button id="14" class="14" name="noans" style="background-color:lightgrey" _bl_0f813c6c-0d8f-4de1-aecb-ab79811c91a3=""><!--!-->&nbsp;  Western		</button><!--!-->&nbsp; &nbsp; </p><h1 class="15" id="15">
            The latitude that goes round the globe exactly in the middle at equal distance from north and south                                                          poles is called the …..
        </h1><p><button id="15" class="15" name="noans" style="background-color:lightgrey" _bl_854b27ba-888d-413d-a709-781c4a9a231e=""><!--!-->&nbsp; 	Greenwich	</button><!--!-->&nbsp; &nbsp; </p><p><button class="15" id="15" name="ans" style="background-color:lightgrey" _bl_df66f41e-71f0-4d55-97ce-a982727c5415=""><!--!-->&nbsp;  Equator 	</button><!--!-->&nbsp; &nbsp; </p><p><button id="15" class="15" name="noans" style="background-color:lightgrey" _bl_bab8a2cc-08e7-47e4-825a-72bfed4ff8dc=""><!--!-->&nbsp;  Circle 	</button><!--!-->&nbsp; &nbsp; </p><p><button id="15" class="15" name="noans" style="background-color:lightgrey" _bl_ebe51054-63cb-4222-b25a-43028fb01faf=""><!--!-->&nbsp;  None 					</button><!--!-->&nbsp; &nbsp; </p><h1 class="16" id="16">
            Total numbers of latitudes are
        </h1><p><button id="16" class="16" name="noans" style="background-color:lightgrey" _bl_e391667f-7872-441a-b55c-c48b88356fa8=""><!--!-->&nbsp; 	90		</button><!--!-->&nbsp; &nbsp; </p><p><button class="16" id="16" name="ans" style="background-color:lightgrey" _bl_2707a26c-d1fd-438e-98fa-dac5523b04e5=""><!--!-->&nbsp;  180		</button><!--!-->&nbsp; &nbsp; </p><p><button id="16" class="16" name="noans" style="background-color:lightgrey" _bl_4bee1a4b-8f13-4892-b258-b7969c212f80=""><!--!-->&nbsp;  360		</button><!--!-->&nbsp; &nbsp; </p><p><button id="16" class="16" name="noans" style="background-color:lightgrey" _bl_f4833b59-f252-4942-9fb0-c1fc16848fbe=""><!--!-->&nbsp;  720						</button><!--!-->&nbsp; &nbsp; </p>
    </article>

</body>
</html>




        @{
            Check3();
        }






@code {


        IJSObjectReference JSObjectReference { get; set; }
        private async void Check3()
        {
            JSObjectReference = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "/css/counter.js");
            await JSObjectReference.InvokeVoidAsync("add_ans2");
        }

      

}
