@page "/Measuring_height_on_map"
@inject IJSRuntime JSRuntime
<h3>Measuring_height_on_map</h3>


<article class="content px-4" b-45rkf8v3vv="">
	<!--!--><!--!--><!--!--><!--!-->
	<!--!-->

	<br><h1 class="2" id="2">
		We find some maps in ………
	</h1><p><button id="2" class="2" name="noans" style="background-color:lightgrey" _bl_41715783-7b84-4e38-9bf9-e8d39546b52a=""><!--!-->&nbsp; 	 Book		</button><!--!-->&nbsp; &nbsp; </p><p><button id="2" class="2" name="noans" style="background-color:lightgrey" _bl_db1c5095-8044-4703-9712-b9a326f6bccf=""><!--!-->&nbsp;  Atlas		</button><!--!-->&nbsp; &nbsp; </p><p><button id="2" class="2" name="noans" style="background-color:lightgrey" _bl_915a136d-1b9d-40a7-85cf-9f6c9c8bb5b9=""><!--!-->&nbsp;  A &amp; B  		 </button><!--!-->&nbsp; &nbsp; </p><p><button class="2" id="2" name="ans" style="background-color:lightgrey" _bl_7a8b54e0-0dd4-4dc6-b727-391784c6638f=""><!--!-->&nbsp;   B Only	 		</button><!--!-->&nbsp; &nbsp; </p><h1 class="3" id="3">
		Maps showing distribution of forests are
	</h1><p><button id="3" class="3" name="noans" style="background-color:lightgrey" _bl_62e66401-ab87-4934-acfb-f25495e13319=""><!--!-->&nbsp;  Physical Map 		</button><!--!-->&nbsp; &nbsp; </p><p><button class="3" id="3" name="ans" style="background-color:lightgrey" _bl_8dfe81e6-f1a6-4da0-9868-6d58bbe01c1a=""><!--!-->&nbsp;  Thematic Map	 </button><!--!-->&nbsp; &nbsp; </p><p><button id="3" class="3" name="noans" style="background-color:lightgrey" _bl_85d86140-f265-4820-a165-76ec598436d0=""><!--!-->&nbsp;  Atlas 	</button><!--!-->&nbsp; &nbsp; </p><p><button id="3" class="3" name="noans" style="background-color:lightgrey" _bl_d49911ca-7538-4f0d-8aa3-69f7c2f83c71=""><!--!-->&nbsp;  Political Map 		</button><!--!-->&nbsp; &nbsp; </p><h1 class="4" id="4">
		The blue colour is used for showing
	</h1><p><button class="4" id="4" name="ans" style="background-color:lightgrey" _bl_61ac8420-4612-49e6-bd6b-eef5edc40915=""><!--!-->&nbsp;  Water bodies 		</button><!--!-->&nbsp; &nbsp; </p><p><button id="4" class="4" name="noans" style="background-color:lightgrey" _bl_e4d0617e-80c5-42b1-a139-f086c7add571=""><!--!-->&nbsp;  Mountains		 </button><!--!-->&nbsp; &nbsp; </p><p><button id="4" class="4" name="noans" style="background-color:lightgrey" _bl_e9921b45-f5e9-4946-a647-754b965a2670=""><!--!-->&nbsp;  Plains 	</button><!--!-->&nbsp; &nbsp; </p><p><button id="4" class="4" name="noans" style="background-color:lightgrey" _bl_82bf80c9-0161-4a27-a40c-dc11453699f6=""><!--!-->&nbsp;  Hills				</button><!--!-->&nbsp; &nbsp; </p><h1 class="5" id="5">
		The following is a Landform.
	</h1><p><button id="5" class="5" name="noans" style="background-color:lightgrey" _bl_f3a5de19-ee6a-4e3c-ac3a-3735a5a8ccef=""><!--!-->&nbsp; 	Mountain 		</button><!--!-->&nbsp; &nbsp; </p><p><button id="5" class="5" name="noans" style="background-color:lightgrey" _bl_359a3c83-6644-43f7-8773-b3e3ad19684f=""><!--!-->&nbsp;  Plain		</button><!--!-->&nbsp; &nbsp; </p><p><button id="5" class="5" name="noans" style="background-color:lightgrey" _bl_d90e0032-5467-4d96-bccd-95eedca351b6=""><!--!-->&nbsp;  Plateau 		 </button><!--!-->&nbsp; &nbsp; </p><p><button class="5" id="5" name="ans" style="background-color:lightgrey" _bl_d12bf6da-f218-4d2b-a1ae-701f5f2994ac=""><!--!-->&nbsp;  All of them		</button><!--!-->&nbsp; &nbsp; </p><h1 class="6" id="6">
		………...should show all the places without hiding
	</h1><p><button id="6" class="6" name="noans" style="background-color:lightgrey" _bl_2b712a25-aa18-4076-b813-8bf50dd4d2aa=""><!--!-->&nbsp; 	Picture		</button><!--!-->&nbsp; &nbsp; </p><p><button class="6" id="6" name="ans" style="background-color:lightgrey" _bl_5989e942-90a5-44e9-bcfe-631591d843ff=""><!--!-->&nbsp;  Map		</button><!--!-->&nbsp; &nbsp; </p><p><button id="6" class="6" name="noans" style="background-color:lightgrey" _bl_318827df-71ac-4657-ab9b-5f92903c1729=""><!--!-->&nbsp;  Book		</button><!--!-->&nbsp; &nbsp; </p><p><button id="6" class="6" name="noans" style="background-color:lightgrey" _bl_5ac672da-263c-4b06-bf19-f176f7d8514c=""><!--!-->&nbsp;  Photo			</button><!--!-->&nbsp; &nbsp; </p><h1 class="7" id="7">
		One way in which we can show heights on maps is through the use of
	</h1><p><button id="7" class="7" name="noans" style="background-color:lightgrey" _bl_da453635-cd63-4ec1-ba46-aeee138d7a95=""><!--!-->&nbsp; 	Pencil		</button><!--!-->&nbsp; &nbsp; </p><p><button id="7" class="7" name="noans" style="background-color:lightgrey" _bl_0fcde151-0eae-4072-895b-9233cb07aa6b=""><!--!-->&nbsp;  Scale		</button><!--!-->&nbsp; &nbsp; </p><p><button class="7" id="7" name="ans" style="background-color:lightgrey" _bl_6c9b88b7-24e4-4902-a7e1-1c901995ca95=""><!--!-->&nbsp;  Colours		</button><!--!-->&nbsp; &nbsp; </p><p><button id="7" class="7" name="noans" style="background-color:lightgrey" _bl_0125f63b-e473-44a8-ab6a-d1d83acff9ad=""><!--!-->&nbsp;  Tread			</button><!--!-->&nbsp; &nbsp; </p><h1 class="8" id="8">
		All the ……... in the world are connected to each other
	</h1><p><button id="8" class="8" name="noans" style="background-color:lightgrey" _bl_de2ed9f0-3044-42a5-8c7c-cb2062b5c7e3=""><!--!-->&nbsp;  Seas		</button><!--!-->&nbsp; &nbsp; </p><p><button class="8" id="8" name="ans" style="background-color:lightgrey" _bl_d47500c5-4839-4387-b9e2-ae7e2d199025=""><!--!-->&nbsp;  Rivers		</button><!--!-->&nbsp; &nbsp; </p><p><button id="8" class="8" name="noans" style="background-color:lightgrey" _bl_1a0a8b56-55a7-480d-9860-ad82056e0d40=""><!--!-->&nbsp;  Hills				</button><!--!-->&nbsp; &nbsp; </p><h1 class="9" id="9">
		All ………..on the land are calculated from the sea level
	</h1><p><button id="9" class="9" name="noans" style="background-color:lightgrey" _bl_11b39278-dba4-4bed-a4b3-e694c39a6ce7=""><!--!-->&nbsp;  Hills               </button><!--!-->&nbsp; &nbsp; </p><p><button class="9" id="9" name="ans" style="background-color:lightgrey" _bl_406e3b65-05c9-48f7-b0ee-b39481e9cf29=""><!--!-->&nbsp; 	 Heights              </button><!--!-->&nbsp; &nbsp; </p><p><button id="9" class="9" name="noans" style="background-color:lightgrey" _bl_985b7149-f484-416c-be84-c32ef54dffc2=""><!--!-->&nbsp;  Plains		</button><!--!-->&nbsp; &nbsp; </p><p><button id="9" class="9" name="noans" style="background-color:lightgrey" _bl_574228aa-e652-4c41-8d22-0b203ba35030=""><!--!-->&nbsp;  plateaus				</button><!--!-->&nbsp; &nbsp; </p><h1 class="10" id="10">
		Nimpur Village is ……...meters above the sea level
	</h1><p><button class="10" id="10" name="ans" style="background-color:lightgrey" _bl_7a65539c-f57f-4c21-a1e6-913953ebf5a7=""><!--!-->&nbsp; 	50		</button><!--!-->&nbsp; &nbsp; </p><p><button id="10" class="10" name="noans" style="background-color:lightgrey" _bl_a5185ebf-799d-432e-bffe-26bb892cb51e=""><!--!-->&nbsp;  100		</button><!--!-->&nbsp; &nbsp; </p><p><button id="10" class="10" name="noans" style="background-color:lightgrey" _bl_e28d5cc5-52e9-4e22-bed5-0762799b3eb0=""><!--!-->&nbsp;  150		</button><!--!-->&nbsp; &nbsp; </p><p><button id="10" class="10" name="noans" style="background-color:lightgrey" _bl_fa0d9c16-8c9c-4cea-ad49-9c9ac617f525=""><!--!-->&nbsp;  below 50					</button><!--!-->&nbsp; &nbsp; </p><h1 class="11" id="11">
		The temple of Nimpur village is ……. meters above the sea level
	</h1><p><button id="11" class="11" name="noans" style="background-color:lightgrey" _bl_069fe1b2-2782-463e-8064-0c05992036a2=""><!--!-->&nbsp; 	50		</button><!--!-->&nbsp; &nbsp; </p><p><button class="11" id="11" name="ans" style="background-color:lightgrey" _bl_f23eaead-38ef-4085-a612-51c2a6a9489c=""><!--!-->&nbsp;  100		</button><!--!-->&nbsp; &nbsp; </p><p><button id="11" class="11" name="noans" style="background-color:lightgrey" _bl_2629d47a-eb96-468f-9c37-f631849fc0ba=""><!--!-->&nbsp;  150		</button><!--!-->&nbsp; &nbsp; </p><p><button id="11" class="11" name="noans" style="background-color:lightgrey" _bl_0f9ecfd3-2908-422a-bbeb-bd6c88fdb314=""><!--!-->&nbsp;  below 0					</button><!--!-->&nbsp; &nbsp; </p><h1 class="12" id="12">
		How many meters above the sea level is the top of the hill?
	</h1><p><button id="12" class="12" name="noans" style="background-color:lightgrey" _bl_7d167bb9-8cc6-4b0d-9eca-1943a6361366=""><!--!-->&nbsp; 	Below 50	</button><!--!-->&nbsp; &nbsp; </p><p><button id="12" class="12" name="noans" style="background-color:lightgrey" _bl_c178c17a-07e0-4075-a771-14b57c20fa71=""><!--!-->&nbsp;  100		</button><!--!-->&nbsp; &nbsp; </p><p><button class="12" id="12" name="ans" style="background-color:lightgrey" _bl_ca9584cb-8aef-447b-81d4-d7677ae95265=""><!--!-->&nbsp;  150		</button><!--!-->&nbsp; &nbsp; </p><p><button id="12" class="12" name="noans" style="background-color:lightgrey" _bl_0c76aae3-f410-4fd3-82c5-686a2bf1fee8=""><!--!-->&nbsp;  below 150					</button><!--!-->&nbsp; &nbsp; </p>
</article>


@{
	Check3();
}

@code {


	IJSObjectReference JSObjectReference { get; set; }
	private async void Check3()
	{
		JSObjectReference = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "/css/counter.js");
		await JSObjectReference.InvokeVoidAsync("add_ans2");
	}




}
