@page "/paper1"
@inject IJSRuntime JSRuntime
<h1>IX SS CCE [TS] U-1 [3] The Evolution of the Earth</h1>


<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

    <article class="content px-4" b-45rkf8v3vv="">
        <!--!--><!--!--><!--!--><!--!-->
        <!--!--><h1 tabindex="-1">Laxmi's Demo questions</h1>

        <br><h1 class="2" id="2">
            Which of the following came into existence first?
        </h1><p><button id="2" class="2" name="noans" style="background-color:lightgrey" _bl_befc0e54-eb86-4b2a-ab44-b5a23da6688a=""><!--!-->&nbsp;  Human beings 		</button><!--!-->&nbsp; &nbsp; </p><p><button id="2" class="2" name="noans" style="background-color:lightgrey" _bl_cf060288-8d89-48a5-8cd3-949b19453106=""><!--!-->&nbsp;  Plants		 </button><!--!-->&nbsp; &nbsp; </p><p><button id="2" class="2" name="noans" style="background-color:lightgrey" _bl_ed017503-7d2a-44e7-bc24-2fcca25226e7=""><!--!-->&nbsp;  Animals		</button><!--!-->&nbsp; &nbsp; </p><p><button class="2" id="2" name="ans" style="background-color:lightgrey" _bl_844f4ecb-5976-432e-8905-25dad9c704e0=""><!--!-->&nbsp;  Ocean species 	</button><!--!-->&nbsp; &nbsp; </p><h1 class="3" id="3">
            Most scientist are of the view that earth began to form around ……….billion years ago
        </h1><p><button id="3" class="3" name="noans" style="background-color:lightgrey" _bl_0e9b075f-580f-4506-8ed4-f2a9ccea528d=""><!--!-->&nbsp; 	3.5			</button><!--!-->&nbsp; &nbsp; </p><p><button class="3" id="3" name="ans" style="background-color:lightgrey" _bl_2f52b3a3-4bad-45e3-8b7f-9a54b3a1673c=""><!--!-->&nbsp;  4.5			</button><!--!-->&nbsp; &nbsp; </p><p><button id="3" class="3" name="noans" style="background-color:lightgrey" _bl_26c6923a-1174-4333-a2c9-52c3e2163cc3=""><!--!-->&nbsp;  7.5			</button><!--!-->&nbsp; &nbsp; </p><p><button id="3" class="3" name="noans" style="background-color:lightgrey" _bl_7f96c865-be03-47fc-91b6-0a999ee34c8c=""><!--!-->&nbsp;  10.5			</button><!--!-->&nbsp; &nbsp; </p><h1 class="4" id="4">
            The rain filled the great …………...on the earth’s crust with water
        </h1><p><button id="4" class="4" name="noans" style="background-color:lightgrey" _bl_ae1e186e-0fd7-4003-b8b4-c89256de6923=""><!--!-->&nbsp; 	Plains			</button><!--!-->&nbsp; &nbsp; </p><p><button id="4" class="4" name="noans" style="background-color:lightgrey" _bl_63866c3b-6b48-4a8c-b780-267c53a9f936=""><!--!-->&nbsp;  Hills 		</button><!--!-->&nbsp; &nbsp; </p><p><button class="4" id="4" name="ans" style="background-color:lightgrey" _bl_b05c1d4c-938d-41a2-a339-0349d10ce623=""><!--!-->&nbsp;  Basins		</button><!--!-->&nbsp; &nbsp; </p><p><button id="4" class="4" name="noans" style="background-color:lightgrey" _bl_d8b64a2d-f51c-4099-9799-61141b0e68cc=""><!--!-->&nbsp;  Oceans		</button><!--!-->&nbsp; &nbsp; </p><h1 class="5" id="5">
            The ………….has reached its present from through several phases.
        </h1><p><button id="5" class="5" name="noans" style="background-color:lightgrey" _bl_75e5357a-458d-40ef-8bcc-b0e278778f41=""><!--!-->&nbsp;  Earth			</button><!--!-->&nbsp; &nbsp; </p><p><button class="5" id="5" name="ans" style="background-color:lightgrey" _bl_d669792d-8559-4c02-ae96-60cd6789ff3b=""><!--!-->&nbsp;  Moon		</button><!--!-->&nbsp; &nbsp; </p><p><button id="5" class="5" name="noans" style="background-color:lightgrey" _bl_60495fa0-ffe8-44e1-8c11-2e5b1ca879df=""><!--!-->&nbsp;  Universe	</button><!--!-->&nbsp; &nbsp; </p><h1 class="6" id="6">
            Initial this was absent in atmosphere
        </h1><p><button class="6" id="6" name="ans" style="background-color:lightgrey" _bl_8aeb9ead-b187-4338-9562-2249deb44673=""><!--!-->&nbsp;  Oxygen			</button><!--!-->&nbsp; &nbsp; </p><p><button id="6" class="6" name="noans" style="background-color:lightgrey" _bl_bf5f14d4-d627-40f7-93e9-09601ed169aa=""><!--!-->&nbsp;  Ozone		</button><!--!-->&nbsp; &nbsp; </p><p><button id="6" class="6" name="noans" style="background-color:lightgrey" _bl_56e6b2d6-c2fe-439c-b04a-3a303f6b4fc7=""><!--!-->&nbsp;  Nitrogen		</button><!--!-->&nbsp; &nbsp; </p><p><button id="6" class="6" name="noans" style="background-color:lightgrey" _bl_46834311-65e6-447a-adbc-3a6a2779f851=""><!--!-->&nbsp;  all of them		</button><!--!-->&nbsp; &nbsp; </p><h1 class="7" id="7">
            The planet earth remained barren and lifeless for ……….of the long span.
        </h1><p><button id="7" class="7" name="noans" style="background-color:lightgrey" _bl_ed4b5129-89cb-45ba-b334-6defc41470a2=""><!--!-->&nbsp; 	2.5			</button><!--!-->&nbsp; &nbsp; </p><p><button id="7" class="7" name="noans" style="background-color:lightgrey" _bl_9487cf4a-37ba-4295-b0d2-e933421f7ed0=""><!--!-->&nbsp; 3.5			</button><!--!-->&nbsp; &nbsp; </p><p><button class="7" id="7" name="ans" style="background-color:lightgrey" _bl_1cc4019b-00e1-443a-bcd6-008bac47db79=""><!--!-->&nbsp;  1.5			</button><!--!-->&nbsp; &nbsp; </p><p><button id="7" class="7" name="noans" style="background-color:lightgrey" _bl_01b8455b-f1f2-4e26-9d0f-55d28526b11f=""><!--!-->&nbsp;  7.5			</button><!--!-->&nbsp; &nbsp; </p><h1 class="8" id="8">
            The atmosphere of the earth consistedof different kinds of gases including ……
        </h1><p><button class="8" id="8" name="ans" style="background-color:lightgrey" _bl_8e43e2cc-b392-4116-b0fc-5fea4546c556=""><!--!-->&nbsp;  Clouds		</button><!--!-->&nbsp; &nbsp; </p><p><button id="8" class="8" name="noans" style="background-color:lightgrey" _bl_c4e950ee-afc6-4013-9a6d-56a2958d8f58=""><!--!-->&nbsp;  Water		</button><!--!-->&nbsp; &nbsp; </p><p><button id="8" class="8" name="noans" style="background-color:lightgrey" _bl_b9852285-1e3e-47de-b4a0-b88969022b22=""><!--!-->&nbsp;  none		</button><!--!-->&nbsp; &nbsp; </p><h1 class="9" id="9">
            Low areas which became oceans later are called ……..
        </h1><p><button id="9" class="9" name="noans" style="background-color:lightgrey" _bl_dad65fdd-c99b-42bf-aedb-c716960a335e=""><!--!-->&nbsp;  Plains			</button><!--!-->&nbsp; &nbsp; </p><p><button id="9" class="9" name="noans" style="background-color:lightgrey" _bl_6cbfedca-280f-48b1-8e9d-352a182b1531=""><!--!-->&nbsp;  Hills 		</button><!--!-->&nbsp; &nbsp; </p><p><button class="9" id="9" name="ans" style="background-color:lightgrey" _bl_ae72735f-a85b-4f64-9834-932ba865186f=""><!--!-->&nbsp;  Basins		</button><!--!-->&nbsp; &nbsp; </p><p><button id="9" class="9" name="noans" style="background-color:lightgrey" _bl_cd54a05e-9fd1-429d-8519-e56725d307fa=""><!--!-->&nbsp;  Lakes		</button><!--!-->&nbsp; &nbsp; </p><h1 class="10" id="10">
            A hot liquid form is known as
        </h1><p><button id="10" class="10" name="noans" style="background-color:lightgrey" _bl_131184f5-0ba3-4778-9649-efe6e7102fb5=""><!--!-->&nbsp; 	Core 		</button><!--!-->&nbsp; &nbsp; </p><p><button id="10" class="10" name="noans" style="background-color:lightgrey" _bl_f49b0002-be61-4e9e-adfa-322bc71dd40e=""><!--!-->&nbsp;  Crust		</button><!--!-->&nbsp; &nbsp; </p><p><button id="10" class="10" name="noans" style="background-color:lightgrey" _bl_c3bb260c-fd9c-4d99-aef1-1dc66e4ed125=""><!--!-->&nbsp;  Lava 		</button><!--!-->&nbsp; &nbsp; </p><p><button class="10" id="10" name="ans" style="background-color:lightgrey" _bl_10c7b160-b10b-47d3-ab86-e0e1a35ca3c6=""><!--!-->&nbsp;  Molten 			</button><!--!-->&nbsp; &nbsp; </p><h1 class="11" id="11">
            The Earth was very hot and was constantly bombarded by massive …………….and other materials
        </h1><p><button class="11" id="11" name="ans" style="background-color:lightgrey" _bl_cef87674-98c7-4913-9a4b-86e63ccd8a3a=""><!--!-->&nbsp;  Stones 		</button><!--!-->&nbsp; &nbsp; </p><p><button id="11" class="11" name="noans" style="background-color:lightgrey" _bl_3e68d29d-b869-4081-a568-2f84bcfd4521=""><!--!-->&nbsp;  Substances 		</button><!--!-->&nbsp; &nbsp; </p><p><button id="11" class="11" name="noans" style="background-color:lightgrey" _bl_31162cbb-6b00-4ee3-a575-209bde1367ca=""><!--!-->&nbsp;  All the above		</button><!--!-->&nbsp; &nbsp; </p>
    </article>

        @{
            Check3();
        }


    @code 
    {




        IJSObjectReference JSObjectReference { get; set; }

        private async void Check3()
        {
            JSObjectReference = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "/css/counter.js");
            await JSObjectReference.InvokeVoidAsync("add_ans2");
        }

      
    }
  
</body>
</html>