@page
@model BlazorApp1.Pages.PoliceManModel
@{
}

<h1> Download Vignaan's Policeman Script from below </h1>

<a href="https://gyanu-my.sharepoint.com/:b:/g/personal/vignaanchintapalli_gyanu_onmicrosoft_com/ET1wuTtC4G1Hrais0VHNJJwBBtDxmx4OO2x78pnDo32bew?e=oQlLMh" download> Click to download The PoliceMan.pdf </a>
